@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lefse {
  margin-top: 1px;
  width: 62vh;
  height: 62vh;
}

.tacoContainer {
  display: flex;
  justify-content: center;
}

.tacoImages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tacoImagesContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-self: flex-end;
}

.ingredients img {
  width: 70%;
  padding: 10px;
}

#showOrHideButton {
  font-family: "Montserrat", sans-serif;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 15px;
}

#showOrHideButton:hover {
  background-color: bisque;
  cursor: pointer;
}

#showOrHideButton:active {
  color: rgb(207, 41, 41);
}

.header {
  text-align: center;
  font-size: 200%;
  color: rgb(199, 42, 42);
  border: 2px solid black;
  border-radius: 20%;
  padding: 5px;
}

.newImg {
  position: relative;
  top: 10rem;
  right: 40rem;
  width: 100px;
  height: 100px;
}
